---
layout: post
title: Gif Test Run
---

{{ page.title }}
================

<p class="meta">
Trying to figure out how to make a gif, testing gif out, and how to imbed a gif opn github. For whatever reason, when I saved the gif on my computer and tried to imbed it directly it wouldn't work, it just looked like a broken link. I'm trying to imbed it using imgur now. Let's see if that works!

<br>
<a href="http://imgur.com/tlQGOI3"><img src="http://i.imgur.com/tlQGOI3.gif" title="source: imgur.com" /></a>

